#main .top_slide_3d_area .top_slide_3d_container { background-color: #333333; display: block; overflow: hidden; }

#main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap { margin: auto; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; width: 906px; height: 596px; overflow: unset; padding-bottom: 92px; -webkit-box-shadow: inset -4px -4px 50px #333333; box-shadow: inset -4px -4px 50px #333333; background-color: #333333; }

#main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap .top_slide_3d { height: 100%; }

#main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap .top_slide_3d .top_item_3d { float: left; height: 100%; width: 906px; }

#main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap .top_slide_3d .top_item_3d > img { max-height: 100%; width: 100%; }

#main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap .top_3d_btn_right, #main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap .top_3d_btn_left { position: absolute; width: 40px; height: 90px; margin-top: 0; top: 40%; background-position: center; background-repeat: no-repeat; cursor: pointer; }

#main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap .top_3d_btn_right { right: 10px; background-image: url("../images/next.png"); background-size: 40px auto; }

#main .top_slide_3d_area .top_slide_3d_container .top_slide_3d_wrap .top_3d_btn_left { left: 10px; background-image: url("../images/prev.png"); background-size: 40px auto; }

body { overflow-x: hidden; }

button { border: none; background-color: transparent; padding: 0; }

#title { width: 500px; margin: 50px auto; text-align: center; font-size: 3rem; }

#pagination { position: absolute; width: 100%; text-align: center; z-index: 10; bottom: 39px; }

#pagination .bullet { cursor: pointer; border-radius: 100%; display: inline-block; background-color: #fff; width: 12px; height: 12px; opacity: 0.4; margin: 0 8px; }

#pagination .active { background-color: #fabe00; opacity: 1; }
